{% extends "base.html" %}

{% block content %}
<h1>Вход</h1>
<form class="login_form" action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.email.label }}<br>
        {{ form.email(class="form-control", type="email") }}<br>
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password") }}<br>
    </p>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    {% if message %}
        <p class="alert alert-danger" role="alert">
                    {{ message }}
                </p>
    {% endif %}
    <p>{{ form.submit(type="submit", class="btn btn-primary", style="background-color: #9751c2;") }}</p>
</form>
{% endblock %}