{% extends "base.html" %}
{% block content %}
<h1 style="text-align: center; color: #5d5fa8">Спасибо за регистрацию, {{ text }}! Вы можете войти в систему!</h1>
<br>
<div>
<p> Приветствую тебя, дорогой друг!
  Планировать заранее дела на день — секрет продуктивности многих успешных людей.
  Делать это удобнее в онлайн-блокноте, например, как NoteMe!
  Если хочешь работать лучше и успевать больше — планируй работу заранее.
  Необязательно формулировать планы на долгий срок, например, на месяц вперёд.
  Достаточно хотя бы вести ежедневник и создавать себе расписание задач, целей и встреч на день!

</p>
  <img src="/static/img/logo2.jpg" width="500" height="500" alt="">
</div>

{% endblock %}
